<div class="widgets" ng-controller="roleManagerCtrl" >
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="角色列表" ba-panel-class="with-scroll">
                <div class="row">
                    <div class="col-md-9">
                        <div class="add-row-editable-table">
                            <button class="btn btn-primary" ng-click="newRole()">新增角色</button>
                        </div>
                    </div>
                </div>
                <div class="horizontal-scroll">
                    <table class="table table-hover" st-table="menusTableData" >
                        <thead>
                            <tr class="black-muted-bg">
                                <th>编号</th>
                                <th>角色</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="role in roles" class="editable-row">
                                <td>{{$index+1}}</td>
                                <td>{{role.roleName}}</td>
                                <td>
                                    <div class="buttons" >
                                        <button class="btn btn-primary editable-table-button btn-xs" >修改</button>
                                        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRole($index)">删除</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="13" class="text-center">
                                    <!--<app-page page_data="menuPageData" load="customerList(currentPage)" />-->
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
