<div class="modal-content" ng-controller="resetPasswordCtrl"  >
    <form name="form1"  ng-submit="resetPassword()" >
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">重置密码</h4>
        </div>
        <div class="modal-body" >
            <div class="ng-cloak">
                <div class="form-group has-feedback">
                    <label for="checkUserName">用户名：</label>
                    <input type="text"  style="background-color:white;color:black;" class="form-control" placeholder="请输入用户名"
                           ng-model="$parent.$parent.checkUserName" name="checkUserName" id="checkUserName"   required  ng-maxlength="20" >
                    <span style="color: #a94442;" ng-show="form1.checkUserName.$dirty && form1.checkUserName.$invalid">
                         <span ng-show="form1.checkUserName.$error.required">必填</span>
                         <span ng-show="form1.checkUserName.$invalid && !form1.checkUserName.$focused">请输入2-20位合法用户名</span>
                    </span>
                </div>
                <div class="form-group has-feedback">
                    <label for="checkUserEmail">注册邮箱：</label>
                    <input type="text"  style="background-color:white;color:black;" class="form-control" placeholder="请输入初始注册邮箱"
                           ng-model="$parent.$parent.checkUserEmail" name="checkUserEmail" id="checkUserEmail"   required  ng-pattern="/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/">
                    <span style="color: #a94442;" ng-show="form1.checkUserEmail.$dirty && form1.checkUserEmail.$invalid">
                         <span ng-show="form1.checkUserEmail.$error.required">必填</span>
                         <span ng-show="form1.checkUserEmail.$invalid && !form1.checkUserEmail.$focused">请输入合法的邮箱地址</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="rpBtn" class="btn btn-primary" ng-disabled="form1.$invalid " >确定</button>
        </div>
    </form>
</div>

