<div class="row"  ng-controller="customerMonthCountCtrl">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="input-group input-daterange">
                <input type='text'    ng-required="true" name="customerMonthBeginDate" id="customerMonthBeginDate" onclick="chageStatus('customerMonthBeginDate')"
                       ng-model="customerMonthBeginDate "class="form-control"  ng-readonly="true"/>
                <div class="input-group-addon">至</div>
                <input type='text'   ng-required="true" name="customerMonthEndDate" id="customerMonthEndDate" onclick="chageStatus('customerMonthEndDate')"
                       ng-model="customerMonthEndDate"class="form-control" ng-readonly="true" />
                <!--<span class="input-group-addon input-group-addon-danger addon-right" ng-click="customerMonthEndDate='';customerMonthBeginDate=''">
                    <span class="glyphicon glyphicon-trash"></span>
                </span>-->
            </div>
        </div>
        <div class="col-md-2" >
            <button class="btn btn-primary" ng-click="searchCustomerMonthCount()">搜索</button>&nbsp;&nbsp;
        </div>
        <div class="col-md-6  align-right" >
            <button class="btn btn-primary" id="monthCountId" ng-disabled="exportCustomerMonthReportStatus" ng-click="exportCustomerMonthReport()">导出报表</button>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="horizontal-scroll">
        <table class="table table-hover" st-table="menusTableData" >
            <thead>
            <tr class="black-muted-bg">
                <th>编号</th>
                <th>客户名称</th>
                <th>接口</th>
                <th>查询类型</th>
                <th>总量</th>
                <th>查得</th>
                <th >去重</th>
                <!-- <th style="text-align:center;" width="15%">账号有效期限</th>-->
                <th>失败</th>
                <th>查询时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in monthCountListData" class="editable-row">
                <td>{{$index+1}}</td>
                <td>{{item.companyName}}</td>
                <td>{{item.interfaceCode}}</td>
                <td>{{item.searchType}}</td>
                <td>{{item.totalSU|currency:'':'0'}}</td>
                <td>{{item.totalQG|currency:'':'0'}}</td>
                <td>{{item.totalDI|currency:'':'0'}}</td>
                <td>{{item.totalFA|currency:'':'0'}}</td>
                <td >{{item.queryTime | date:'yyyy-MM'}}</td>
            </tr>
            </tbody>
        </table>
        <tm-pagination conf="customerMonthCountPaginationConf"></tm-pagination>
    </div>
</div>
<script>
    var datestatus = false;
    $(function () {
        var now = new Date();
        $('#customerMonthBeginDate').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm',//显示格式
            initialDate: new Date(),//初始化当前日期
            startView:"year",
            minView: "year",
            maxView:"year",
            endDate:now,
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        }).on('changeDate',function(e){
            var startTime = e.date;
            $('#customerMonthEndDate').datetimepicker('setStartDate',startTime);
        }).on('show',function(){
            datestatus = true;
        }).on('changeYear',function(){
            $('#customerMonthBeginDate').datetimepicker('show');
        });
        $('#customerMonthEndDate').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm',//显示格式
            initialDate: new Date(),//初始化当前日期
            startView:"year",
            minView: "year",
            maxView:"year",
            endDate:now,
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        }).on('changeDate',function(e){
            var endTime = e.date;
            $('#customerMonthBeginDate').datetimepicker('setEndDate',endTime);
        }).on('show',function(){
            datestatus = true;
        });
    });
    function chageStatus(who){
        if(datestatus){
            $('#'+who+'').datetimepicker('show');
            datestatus = false;
        }else{
            $('#'+who+'').datetimepicker('hide');
            datestatus = true;
        }
    }
</script>
