<div class="widgets" ng-controller="customerCtrl">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="客户列表" ba-panel-class="with-scroll">
                <div class="row">
                    <div class="col-md-6">
                        <!--<div class="col-md-4">
                            <div class="add-row-editable-table align-left">
                                <input type="text" class="form-control" ng-model="$parent.$parent.$parent.searchCompanyName" placeholder="请输入搜索企业名称"  id="searchCompanyName" name="searchCompanyName" >
                            </div>
                        </div>-->

                        <div class="col-md-4">
                            <div class="add-row-editable-table align-left input-group">
                                <input type="text" class="form-control with-warning-addon" placeholder="请输入企业名称" name="" value="" ng-model="$parent.$parent.$parent.searchCompanyName" aria-describedby="basic-addon2">
 								<span class="input-group-addon input-group-addon-danger addon-right" ng-click="$parent.$parent.$parent.searchCompanyName=''">
 									<span class="glyphicon glyphicon-trash"></span>
 								</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="add-row-editable-table align-left input-group">
                                <input type="text" class="form-control with-warning-addon" placeholder="请输入授权码" name="" value="" ng-model="$parent.$parent.$parent.searchAuthCode" aria-describedby="basic-addon2">
 								<span class="input-group-addon input-group-addon-danger addon-right" ng-click="$parent.$parent.$parent.searchAuthCode=''">
 									<span class="glyphicon glyphicon-trash"></span>
 								</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" style="overflow:scroll;"
                                    ng-model="$parent.$parent.$parent.status" ng-options="item.code as item.value for item in typeCustomer">
                            </select>
                        </div>
                        <div class="col-md-2">
                             <button class="btn btn-primary" ng-click="searchCustomer()">搜索</button>
                        </div>

                        <!--<div class="add-row-editable-table">
                            <button class="btn btn-primary" ng-click="open('app/pages/customer/manager/addCustomer2.html', 'md')">新增(dialog)</button>
                        </div>-->
                    </div>
                    <div class="col-md-6 add-row-editable-table align-right" >
                        <button class="btn btn-primary" ng-click="addNewCustomer()">新增客户</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="horizontal-scroll">
                    <table class="table table-hover" st-table="menusTableData" >
                        <thead>
                            <tr class="black-muted-bg">
                                <th>编号</th>
                                <th>企业名称</th>
                                <th>联系人</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子邮件</th>
                                <th>联系电话</th>
                                <th>手机号</th>
                                <th style="text-align:center;" width="15%">账号试用有效期限</th>
                               <!-- <th style="text-align:center;" width="15%">账号有效期限</th>-->
                                <th>查询总条数</th>
                                <th style="text-align:center;" width="15%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="customer in customers" class="editable-row">
                                <td>{{$index+1}}</td>
                                <td>&nbsp;&nbsp;{{customer.companyName}}</td>
                                <td>{{customer.contactName}}</td>
                                <td>{{customer.contactEmail}}</td>
                                <td>{{customer.contactTel}}</td>
                                <td>{{customer.contactPhone | customerPhoneDesensitization}}</td>
                                <td style="text-align:center;" width="20%">{{customer.trialBeginDate | date:'yyyy-MM-dd'}}至{{customer.trialEndDate | date:'yyyy-MM-dd'}}</td>
                                <!--<td style="text-align:center;" width="20%">{{customer.contractBeginDate | date:'yyyy-MM-dd'}}至{{customer.contractEndDate | date:'yyyy-MM-dd'}}</td>-->
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{customer.totalSearchQuantity}}</td>
                                <td>
                                    <div class="buttons" style="text-align:center;" width="15%">
                                        <button class="btn btn-primary editable-table-mybutton  btn-xs"  ng-click="userSon(customer)" >用户</button>
                                        <button class="btn btn-primary editable-table-mybutton  btn-xs"  ng-click="reportCount(customer)" >报表</button>
                                        <button class="btn btn-primary editable-table-mybutton btn-xs" ng-click="updateCustomer(customer)" >修改</button>
                                        <button class="btn btn-danger editable-table-mybutton btn-xs" ng-show="customer.status==0" ng-click="removeCustomer($index,customer)">删除</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        <tm-pagination conf="customerPaginationConf"></tm-pagination>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>




