<div class="modal-content" ng-controller="editFieldListCtrl" >
    <form name="fieldForm"  ng-submit="addField()" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="editCloseFieldList()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title" id="myModalLabel">选择字段</h4>
        </div>
        <div class="modal-body">
        	<h4  ng-show="fields.length==0" >暂无数据</h4>
            <table class="table table-bordered" ng-hide="fields.length<=0" >
                <thead>
                    <tr>
                    	<th style="text-align: left;"><input type="checkbox" ng-checked="editAllListSelect" ng-click="editChangeAllStatu('list',$event)" >列表</th>
                    	<th class="align-center"><input type="checkbox" ng-checked="editAllDetailSelect" ng-click="editChangeAllStatu('detail',$event)" >详细</th>
                        <th class="align-center">字段代码</th>
                        <th class="align-center">字段名称</th>
                        <th class="align-center">描述</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="field in fields" >
                    	<input type="hidden" ng-model="editDimensionS" />
                    	<input type="hidden" ng-model="editDomainDimensionS" />
                    	<input type="hidden" ng-model="selectFields"/> 
                    	<input type="hidden" ng-model="editEle" />
                        <td class="align-center" ng-click="editChangeStatu('list',field)">
                            <input type="checkbox" ng-checked="field.defaultListShowYN==1 ? true:false"  >
                        </td>
                        <td class="align-center" ng-click="editChangeStatu('detail',field)">
                            <input type="checkbox"  ng-checked="field.defaultDetailShowYN==1 ? true:false"   >
                        </td>
                        <td class="align-center">
                        	{{field.fieldCode}}
                        </td>
                        <td class="align-center">
                            {{field.fieldName}}
                        </td>
                        <td class="align-center" ng-show="field.description.length>10">
                            {{(field.description| limitTo:10)+"..."}}
                        </td>
                        <td class="align-center" ng-show="field.description.length<=10|| field.description==null">
                            {{field.description| limitTo:10}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div>列表选中&nbsp;<b>{{editListNum}}</b>&nbsp;个字段，详情选中&nbsp;<b>{{editDetailNum}}</b>&nbsp;个字段</div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="fieldForm.$invalid" >确定</button>
        </div>
    </form>
</div>