<div ba-panel ba-panel-title="" ba-panel-class="with-scroll" class="horizontal-scroll">
    <div class="row">
        <div class="col-md-6">
            <div class="add-row-editable-table align-left">
                <button class="btn btn-primary" ng-click="$dismiss()">确定</button>
            </div>
        </div>
    </div>
    <div class="horizontal-scroll">
        <table class="table table-hover" st-table="menusTableData" ng-controller="mainCtrl">
            <thead>
            <tr class="black-muted-bg">
                <th></th>
                <th>接口名称</th>
                <th>接口url</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="interface in interfaces" class="editable-row">
                <td><input type="checkbox"></td>
                <td>{{interface.interfaceName}}</td>
                <td>{{interface.interfaceURL}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
