<div class="widgets" ng-controller="userSonInfoCtrl">
    <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
            <!--<div ba-panel ba-panel-title="Panel with header" ba-panel-class="col-eq-height light-text">

            </div>-->
            <div ba-panel ba-panel-title="用户分支机构" ba-panel-class="with-scroll tree-panel">
                <div class="row">
                    <!--<div class="col-sm-4">
                        <div class="control-side text-center">
                            <div>
                                <button class="btn btn-primary" ng-click="addNewNode()">Add</button>
                            </div>
                            <div>
                                <button class="btn btn-primary" ng-click="collapse()">Collapse All</button>
                            </div>
                            <div>
                                <button class="btn btn-primary" ng-click="expand()">Expand All</button>
                            </div>
                            <div>
                                <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-sm-8">
                        <div js-tree="basicConfig" ng-model="treeData" should-apply="applyModelChanges()" tree="basicTree" tree-events="ready:readyCB"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9">
            <!--<div ba-panel ba-panel-title="Panel with header" ba-panel-class="col-eq-height light-text">

            </div>-->
            <div ba-panel ba-panel-title="子用户" ba-panel-class="with-scroll">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="add-row-editable-table align-left input-group">
                                <input type="text" class="form-control with-warning-addon" placeholder="请输入搜索用户名称" name="" value="" ng-model="$parent.$parent.$parent.modelName" aria-describedby="basic-addon2">
                                <span class="input-group-addon input-group-addon-danger addon-right" ng-click="$parent.$parent.$parent.modelName=''">
                                <span class="glyphicon glyphicon-trash"></span>
                            </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" style="overflow:scroll;" id="status"
                                    ng-model="status" ng-options="item.code as item.status for item in typeList">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" ng-click="searchUserSon()">搜索</button>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="horizontal-scroll">
                        <table class="table table-hover" st-table="menusTableData" >
                            <thead>
                            <tr class="black-muted-bg">
                                <th width="10%">编号</th>
                                <th  width="30%">用户名称</th>
                                <th  width="30%">企业名称</th>
                                <th width="15%">状态</th>
                                <th style="text-align:center;" width="15%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in userSonList" class="editable-row">
                                <td>{{$index+1}}</td>
                                <td>{{item.userName}}</td>
                                <td>{{item.companyName}}</td>
                                <td>
                                    <span ng-if="item.userStatus == 0">启用</span>
                                    <span ng-if="item.userStatus == 1">停用</span>
                                </td>
                                <td>
                                    <div class="buttons" style="text-align:center;" width="15%">
                                        <button class="btn btn-primary editable-table-button btn-xs" ng-click="updateUser(item)">编辑</button>
                                        <button class="btn btn-danger editable-table-button btn-xs" ng-show="item.userStatus == 1" ng-click="delUserSon($index,item)">删除</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <tm-pagination conf="reportPaginationConf"></tm-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
